@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

/* Style the header */
header {
    width: 100%;
    height: 70px;
    background-color: #ddd;
}

#logo {
    width: 200px;
    height: 50ox;
    float: left;
    margin: 10px;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    font-weight: 600;
}

#menu li {
    list-style: none;
    float: right;
    margin: 20px;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 2px solid #ea4600;
    color: #ea4600;
}

.menu-active {
    border-bottom: 2px solid #ea4600;
}

/* Add styles to Welcome/Hero section with text */

#welcome-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#welcome-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/welcome-img.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* cover text on welcome image */

#cover-text {
    font-size: 320%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;

    background-color: rgba(234, 70, 0, 0.5);
    box-shadow: 6px 6px 6px #ddd;
    

    letter-spacing: 1px;
    color: #ffffff;
    line-height: 50px;

    min-width: 40%;
    height: auto;

    padding: 10px;
    margin-left: 30%;
    margin-bottom: 30px;

    bottom: 10px;
    
   position: absolute;
}

/* Add About us secction */
#about-us {
    width: 100%;
    min-height: 300px;
    background-color: rgb(221, 221, 221, 70%);
}

#about-us h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 200%;
}

#about-us-left {
    width: 30%;
    height: 150px;
    background-color: #ea4600;
    padding: 20px;
    float: left;
    color: #ffffff;
}

#goal-right {
    width: 30%;
    height: 150px;
    background-color: #ea4600;
    padding: 20px;
    float: right;
    color: #ffffff;
}

#mission-center {
    width: 30%;
    margin: 0 auto;
    background-color: rgb(146, 146, 146, 30%);
    color: #000000
}


 #about-us-left-details {   
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: right;
 }

 #goal-right-details {   
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: left;
 }

 #mission-center-details {   
    width: 100%;
    height: 150px;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
 }

 hr {
    border: 1px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#hr-mission {
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Add styles to Activities section */

#activities {
    width: 100%;
    height: 500px;
    background-color: rgb(234, 70, 0, 40%);
    padding-top: 10px;
}

#activities-header {
    background-color: #000;
    font-size: 150%;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px 40%
}

/* Add background images to the individual activities*/
.study { background: url(../images/study-aact.jpg) no-repeat center center;}
.fitness { background: url(../images/keepfit-act.jpg) no-repeat center center;}
.sport { background: url(../images/sport-act.jpg) no-repeat center center;}
.get-together { background: url(../images/get-together-act.jpg) no-repeat center center;}

/*Activities background images properties*/
#activities div {
    color: #ffffff;
    line-height: 30px;
    background-color: rgb(0, 0, 0, 0.6);
    background-size: cover;
    background-blend-mode: overlay;
    width: 25%;
    height: 400px; 
    float: left;
    padding: 40px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box; 
}

/* Add styles to footer */

footer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    background-color: #dddddd;
    clear: both;
    position: relative;
    line-height: 30px;

    text-align: center;
}

footer h3 {
    color: #ea4600;
}

.footer-header2 {
    color: #000;
}

.footer-links > li {
    display: inline;
}

.footer-links i {
    font-size: 160%;
    margin: 10px;
}

/*Social links color*/
.fa-facebook {
    color: #0066ff;
}

.fa-twitter-square {
    color: #00acee;
}

.fa-youtube-square {
    color: #ff0000;
}

.fa-instagram {
    color:  #962fbf;
}


/* Add contact page styles*/

#map-forms {
    width: 100%;
    min-height: 800px;
    align-items: center;

}

#contact-map-main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: #ddd;
}

#map {
    width: 100%;
    height: 400px;
}

#map iframe {
    width: 100%;
    height: 100%;
}

#contact-form {
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    align-items: center;
}

#contact-form h3 {
    margin-bottom: 15px;
    font-size: 150%;
    color: #000000;
}

.contact-form-txt {
    width: 60%;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    columns: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 10px;
    padding: 10px; 
    font-size: 20px;   
}

.contact-form-txtarea {
    width: 60%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    columns: #000;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;  
    font-size: 20px;  
}

input[type=submit] {
    background-color: #ea4600;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    font-size: 17px;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: #702302;
    color: #dddddd;
  }

  .contact-form-txt::placeholder {
    color: #000;
    font-size: medium;
  }

  .contact-form-txtarea::placeholder {
    color: #000;
    font-size: medium;
  }

  /*Contact details*/

  #contact-details {
    width: 100%;
    height: 250px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 30px;
    font-size: 140%;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    background-color: rgb(234, 70, 0, 20%);
  }

  #contact-details h3 {
    color: #ea4600;
    text-decoration: underline;
    padding-top: 20px;
  }