@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

/* Style the header */#
header {
    width: 100%;
    height: 70px;
    background-color: rgb(148, 29, 29);
}

#logo {
    width: 200px;
    height: 50ox;
    float: left;
    margin: 10px;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    font-weight: 600;
}

#menu li {
    list-style: none;
    float: right;
    margin: 20px;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 2px solid #ea4600;
    color: #ea4600;
}

.menu-active {
    border-bottom: 2px solid #ea4600;
}