@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

/* Style the header */
header {
    width: 100%;
    height: 70px;
    background-color: #ddd;
}

#logo {
    width: 200px;
    height: 50px;
    float: left;
    margin: 10px;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    font-weight: 600;
}

#menu li {
    list-style: none;
    float: right;
    margin: 20px;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 2px solid #ea4600;
    color: #ea4600;
}

.menu-active {
    border-bottom: 2px solid #ea4600;
}

/* Add styles to Welcome/Hero section with text */

#welcome-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#welcome-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/welcome-img.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* cover text on welcome image */

#cover-text {
    font-size: 320%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;

    background-color: rgba(234, 70, 0, 0.5);
    box-shadow: 6px 6px 6px #ddd;


    letter-spacing: 1px;
    color: #ffffff;
    line-height: 50px;

    max-width: 50%;
    height: auto;

    padding: 10px;
    margin-left: 30%;
    margin-bottom: 30px;


    bottom: 10px;

    position: absolute;
}

/* Add About us secction */

#about-us {
    width: 80%;
    min-height: 350px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

#about-us-main {
    margin-top: 20px;
}

#goal {
    margin-top: 20px;
}

#mission {
    margin-top: 20px;
}

#about-us h1 {
    font-size: 200%;
    color: #ea4600;
}

hr {
    border: 2px solid #ea4600;
    width: 50%;
    margin: 0 auto;
}

/* Add styles to Activities section */

#activities {
    width: 100%;
    height: 500px;
    background-color: rgb(234, 70, 0, 40%);
    padding-top: 10px;
}

#activities-header {
    background-color: #000;

    font-size: 150%;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px 40%
}

/* Add background images to the individual activities*/
.study {
    background: url(../images/study-aact.jpg) no-repeat center center;
}

.fitness {
    background: url(../images/keepfit-act.jpg) no-repeat center center;
}

.sport {
    background: url(../images/sport-act.jpg) no-repeat center center;
}

.get-together {
    background: url(../images/get-together-act.jpg) no-repeat center center;
}

/*Activities background images properties*/
#activities div {
    color: #ffffff;
    line-height: 30px;
    background-color: rgb(0, 0, 0, 0.6);
    background-size: cover;
    background-blend-mode: overlay;
    width: 25%;
    height: 400px;
    float: left;
    padding: 40px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* Add styles to footer */

footer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    background-color: #dddddd;
    clear: both;
    position: relative;
    line-height: 30px;

    text-align: center;
}

footer h3 {
    color: #702302;
}

.footer-header2 {
    color: #000;
}

.footer-links>li {
    display: inline;
}

.footer-links i {
    font-size: 160%;
    margin: 10px;
}

/*Social links color*/
.fa-facebook {
    color: #0066ff;
}

.fa-twitter-square {
    color: #00acee;
}

.fa-youtube-square {
    color: #ff0000;
}

.fa-instagram {
    color: #962fbf;
}


/* Add contact page styles*/

#map-forms {
    width: 100%;
    min-height: 800px;
    align-items: center;

}

#contact-map-main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: #ddd;
}

#map {
    width: 100%;
    height: 400px;
}

#map iframe {
    width: 100%;
    height: 100%;
}

#contact-form {
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    align-items: center;
}

#contact-form h1 {
    margin-bottom: 15px;
    font-size: 150%;
    color: #702302;
}

.contact-form-txt {
    width: 70%;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.contact-form-txtarea {
    width: 70%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

input[type=submit] {
    background-color: #702302;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    font-size: 17px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #000000;
    color: #dddddd;
}

.contact-form-txt::placeholder {
    color: #000;
    font-size: medium;
}

.contact-form-txtarea::placeholder {
    color: #000;
    font-size: medium;
}

/*Contact details*/

#contact-details {
    width: 100%;
    height: 250px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 30px;
    font-size: 140%;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    background-color: rgb(234, 70, 0, 20%);
}

#contact-details h2 {
    color: #ea4600;
   
    padding-top: 20px;
}


/* Add styles to Sign Up page*/
.join-us {
    clear: left;
    background: url(../images/sign-up.jpg) no-repeat center center;
    background-size: cover;
    height: 1200px;
}

.sign-up {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 400px;
    position: absolute;
    right: 5%;
    padding: 30px;
}

.sign-up h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.signup-txt {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.signup-txt:hover {
    border-color: #ea4600;
}

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ea4600;
    color: #fafafa;
    display: block;
}

.signup-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

.sign-up input::placeholder {
    color: #ffffff;
    padding-left: 10px;
    opacity: 0.5;
}

.membership {
    margin-right: 15px;
}

/* Add Thank you page for contact forms*/
#thank-you {
    width: 100%;
    height: 1200px;
    background: url(../images/thank-you-contact.jpg) no-repeat center center;
    background-size: cover
}

#thankyou-text {
    font-size: 320%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;

    background-color: rgba(234, 70, 0, 0.5);
    box-shadow: 6px 6px 6px #ddd;


    letter-spacing: 1px;
    color: #ffffff;
    line-height: 50px;

    max-width: 50%;
    height: auto;

    padding: 10px;
    margin-left: 30%;
    margin-bottom: 30px;


    bottom: 10px;

    position: absolute;
}

/* Add congrats for signing up page */

#congrats {
    width: 100%;
    height: 1200px;
    background: url(../images/Welcome-for-signup.jpg) no-repeat center center;
    background-size: cover
}

#congrats-text {
    font-size: 320%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;

    background-color: rgba(234, 70, 0, 0.5);
    box-shadow: 6px 6px 6px #ddd;


    letter-spacing: 1px;
    color: #ffffff;
    line-height: 50px;

    max-width: 50%;
    height: auto;

    padding: 20px;
    margin-left: 30%;
    margin-bottom: 30px;


    bottom: 50px;
    right: 50px;

    position: absolute;
}


/* Media Queries*/

/* For screens from 1285px - 1200px wide and down*/
@media screen and (max-width: 1285px) {
    #cover-text {
        font-size: 250%;
    }
}

@media screen and (max-width: 1200px) {
    #activities>div {
        width: 100%;
        clear: both;
        height: 200px;
        padding: 10px;
    }

    #about-us {
        height: auto;
        margin-bottom: 30px;
    }

    #cover-text {
        font-size: 250%;
    }

    .contact-form-txt {
        width: 90%;
        height: 20px;
    }

    .contact-form-txtarea {
        width: 90%;
        height: 100px;
    }

    #thankyou-text {
        font-size: 200%;
    }

}


/* For medium screens from 820px wide and down*/
@media screen and (max-width: 820px) {
    #cover-text {
        font-size: 180%;
        line-height: 30px;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #activities-header {
        min-width: 130px;
        margin: 10px 30%;
    }

    #thankyou-text {
        font-size: 180%;
    }

    #congrats-text {
        font-size: 200%;
        line-height: 30px;
        max-width: 110%;
    }
}